/* Reset CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* Sticky Footer */
html{position:relative;min-height:100%;}
body{margin-bottom:60px;}
.footer{position:absolute;bottom:0;width:100%;height:60px;background-color:#f5f5f5;}
body > .container{padding:60px 15px 0;}
.container .text-muted{margin:20px 0;}
.footer > .container{padding-right:15px;padding-left:15px;}
code{font-size:80%;}
.footer, .thumbnail{background-color:#222;}
.thumbnail{border-color:#000;}

/* Default */
.nav-link{position:relative;top:37px;}
#nav-link-end{padding-right:98px; margin-right:190px; margin-bottom: 78px;}

body{margin:0;padding:0;background-color:rgb(48, 48,48);font-family:'Roboto', 'Droid Sans', 'Open Sans', sans-serif;font-weight:bold;}
#MainContent{position:relative;top:100px;}
.logo{position:relative;top:20px;padding-right:98px;}
.logo > a:nth-child(2){position:relative;top:-30px;}
#MainContent{position:relative;top:30px;}
.footer, .thumbnail{background-color:#222;}
.thumbnail{border-color:#000;}
.jumbotron > p{font-weight:lighter;}
.row{margin-right:0;margin-left:0;}
.navbar{margin:0;padding:0;}
.vCenterText{padding-top:30px;}
.social-icon{background-color:#222;color:rgb(13, 75, 116);}
.maincontent{background-color:rgb(48, 48,48);width:100%;}
.btn-circle{background-color:rgb(13, 75, 116);width:175px;height:175px;text-align:center;padding:6px 0;font-size:24px;line-height:90px;border-radius:175px;margin-top:230px;}
#copyright{color:rgb(75,75,81);position:relative;top:15px;margin-right:10px;}
#primary{background-color:rgb(75, 75, 75) !important;color:#FFF;}
#secondary{display:block;margin-right:auto;margin-left:auto;text-align:center;width:95%;background-color:rgb(75, 75, 75) !important;font-weight:lighter;}
#secondary > h2{color:#000;}
#secondary > ul, h2, p, img{margin-bottom:10px;text-align:left;}
#secondary > ul > li{margin:10px;text-align:left;}
#secondary > ul, p{font-weight:lighter;color:#FFF;}
#secondary > img{height:640px;width:960px;padding-top:5px;}

.jumbotron p {
    font-size: 14px;
    color: black;
}

.modal-footer > a {
    text-align: center;
    margin-right: 15px;
}

hr { 
    height: 1px;
    color: black;
    background-color: black;
    border: none;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.nav:nth-child(1) > li {
    position: relative;
    top: 25px;
}